body {
  background-color: #545454;
  color: #A8A8A8;
}

button {
  background-color: #151515;
  color: #A8A8A8;
  text-align: center;
  width: Xu;
  height: Yu;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -(X/2)u;
  margin-top: -(Y/2)u;
}
  
/*.button {
  background-color: #151515;
  color: #2A2A2A;
  text-align: center;
  }

 Replace X and Y with a number and u with a unit. do calculations and remove parens
.centered_div {
   width: Xu;
   height: Yu;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
}*/
